<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start" (click)="open_collection('Flights')">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Flights</div>
      Content for list item
    </div>
    <button class="btn btn-outline-success" routerLink="collections/insert/table1">
      Insert
    </button>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start" (click)="open_collection('Destinations')">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Destinations</div>
      Content for list item
    </div>
    <button class="btn btn-outline-success" routerLink="collections/insert/table2">
      Insert
    </button>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-start" (click)="open_collection('Airports')">
    <div class="ms-2 me-auto">
      <div class="fw-bold">Airports</div>
      Content for list item
    </div>
    <button class="btn btn-outline-success" routerLink="collections/insert/table3">
      Insert
    </button>
    <span class="badge bg-primary rounded-pill">14</span>
  </li>
</ol>
